<% content_for :head do %>
  <title>Stew Mckinney :: Developer :: Resume</title>
<% end%>
<header>
  <div class="row-fluid">
    <div class="span12">
      <h1 class="name">Stew Mckinney</h1>
      <h1 class="title"><small><span>Developer</span></small></br><small>Game, Web, And Software</small></h1>
      <h1 class="email"><small><br/ >mckinnsb <span>at</span> gmail.com</small></h1>
      <!--<h3 class="location">Brooklyn, NY ( phone # on request )</h3> -->
    </div>
  </div>
</header>


<section class="experience">
<header>
<h1><small>Experience</small></h1>
</header>
<% 
data.experience.jobs.each do | job | %>
  <section class="job_history">
    <header class="row-fluid">
      <div class="job_brief span5">
        <h4><span class="location"><%= job.company %></span><br /><span class="location"><%= job.location %></span></h4>
        <h4 class="position"><%= job.position %></h4>
      </div>
      <h5 class="when span5 offset2"><%= job.when %></h5>
    </header>
    <div class="row-fluid">
      <div class="span12">
        <ul class="accomplishments"><%
        job.accomplishments.each do | accomplishment | %>
          <li class="point"><%= accomplishment %></li><%
        end %>
        </ul>
      </div>
    </div>
  </section>
  <%
end %>
</section>
